.product-detail-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .product-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
  }
  
  .main-image {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .main-image img {
    width: 400px;
  }
  
  .thumbnail-images {
    display: flex;
    justify-content: center;
  }
  
  .thumbnail-images img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .thumbnail-images img.selected {
    border: 3px solid #0070c9;
  }
  
  .product-info {
    width: 45%;
  }
  
  .product-title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .product-description {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .add-to-cart-button {
    background-color: #0070c9;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  